@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .navbar, .grid-section, .rodape {
        grid-column: 1;
    }
    .menu-bg ul {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-right: 40%;
    }
    .menu-bg a {
        letter-spacing: 1px;
        font-size: .9em;
    }
    .btn {
        width: 13rem;
    }
    .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }
    .menu-logo {
        display: none;
    }
    .introducao {
        grid-column: 1 / 2;
        display: flex;
        justify-content: flex-end;
    }
    .apresentacao {
        grid-column: 1 / -1;
        display: flex;
        text-align: center;
    }
    .rafael-ap {
        display: flex;

        flex-wrap: wrap;
        font-size: .9em;
        align-items: center;
        justify-content: center;
    }
    .sidebar img {
        width: 17rem;
        height: 17rem;

        border-radius: 3rem 0 3rem 0;
        margin-top: 2rem;
    }
    .stacks img {
        width: 7rem;
        height: 7rem;
    }
    .stacks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}